:root{
  --main-white:#ffffff;
  --main-blue:#19b2de;
  --secondary-blue:#1596bd;
  --main-red:#d8605f;
  --header-grey:#494949;
  --p-grey:#a3a3a3;
  --icon-yellow:#feb902;
  --icon-green:#25c389;
  --footer:#16242f;
}

*, *::after, *::before {margin: 0; padding: 0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-family: "ubuntu", sans-serif; font-weight: 400; font-style: normal;}
p {font-family: "Open Sans", Arial, Helvetica, sans-serif;}
ul li {list-style: none;}
/* Grid demo*/ 
div, header, main, footer, section {outline: 1px solid #ccc; min-height: 1rem; padding: 1rem;}
.row {display: grid; row-gap: 1rem;}
.col {position: relative; background-color: rgb(242, 230, 177);}
p {text-align: center;}
.mobile-show {display: block;}
.mobile-hide {display: none;}
img {width: 100%;}

/* Grid System - Small only */
.s-col-2 .content__cols-item {grid-template-columns: repeat(2, 1fr);}
.s-col-5 {grid-template-columns: repeat(5, 1fr);}
.s-col-6 {grid-template-columns: repeat(6, 1fr);}
.s-col-1-1 {grid-template-columns: 1fr 1fr;}
.s-col-1-2 {grid-template-columns: 1fr 2fr;}

/* Grid System - Medium and up */
@media screen and (min-width: 40em) {
  .row {max-width: 70rem; column-gap: 1.5rem; row-gap: 1.5rem; margin: 0 auto;}
  .m-col-2 {grid-template-columns: repeat(2, 1fr);}
  .m-col-3 {grid-template-columns: repeat(3, 1fr);}
  .m-col-4 {grid-template-columns: repeat(4, 1fr);}
  .m-col-5 {grid-template-columns: repeat(5, 1fr);}
  .m-col-6 {grid-template-columns: repeat(6, 1fr);}
  .m-col-1-2 {grid-template-columns: 1fr 2fr;}
}
/* Grid System - Large and up */
@media screen and (min-width: 64em) {s
  .l-col-2 {grid-template-columns: repeat(2, 1fr);}
  .l-col-3 {grid-template-columns: repeat(3, 1fr);}
  .l-col-4 {grid-template-columns: repeat(4, 1fr);}
  .l-col-5 {grid-template-columns: repeat(5, 1fr);}
  .l-col-6 {grid-template-columns: repeat(6, 1fr);}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .mobile-show {display: block;}
  .content-01-container .content__cols-item {display:flex; flex-direction: column;}
  .content-01-container .content__cols-item h5 {font-size:1em; font-weight: bold; color: var(--header-grey); padding-top:1.5em;}
  .content-01-container .content__cols-item p {font-size:0.8em; line-height: 1.5em; padding-top:1.5em; color:var(--p-grey);}
  .icon-border {position:relative; display:flex; outline:none; justify-content: center; align-items:center; width:5em; height:5em; border: 0.23em solid var(--main-red);}
  .content-01-icon {width:100%; padding:0.2em;}

}
/* Medium and up */
@media screen and (min-width: 40em) {
  .mobile-show {display: block;}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .mobile-show {display: block;}
  .mobile-hide {display: block;}
}
/* Large and up */
@media screen and (min-width: 64em) {
  .mobile-show {display: none;}
  .mobile-hide {display: block;}
}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {
  
}

.content__cols-item {background-color: var(--main-white); outline: none; padding:0;}
.content__title{background-color: var(--main-white);}
.content__title {text-align: center; color:var(--header-grey);}
.content__title p {color:var(--p-grey); font-size:0.7em; padding-top: 1em}
.a-component, .a-component div {outline: none; min-height: 1rem; padding: 0;}
.a-component {display: flex; flex-direction: column; position: relative; color: var(--main-white);}
.a-component .a-component__date {position: absolute; top: 0; left: 0; width: 3.5em; height:2.625em; text-align: center; color: var(--main-white); background-color:var(--main-red);}
.a-component .a-component__date h5 {padding-top:0.5625em; padding-bottom: 0.4375em;}
.a-component .a-component__date h6 {position:relative; bottom:0.3em; font-size:0.6em;}
.a-component .a-component__image img {display: block; width: 100%; height: auto;} 
.a-component__title {display:flex; justify-content:space-between; background-color: var(--main-blue); padding-left:2em; height: 3.0625em; width:100%;}
.a-component__title h3 {display: block; position:absolute; left:0.9375em; padding-top:0.4375em;}
.subtitle h4 {display: block; position: absolute; bottom:1em; left:1.9em; font-size:0.6025em;}
.icon {position:relative; display:flex; justify-content: center; align-items: center; width:37px; height:37px; background-color:var(--secondary-blue); margin-top:5px; margin-right:20px;}
.icon img {width: 20px; height:18px;}
.content-03-container .content__cols-item {position:relative; overflow: hidden;}
.content-03-container .content__cols-item:hover::before {content:''; position:absolute; top:0; right:0; bottom:0; left:0; background-color: var(--main-blue); opacity: 0.7; display:flex; justify-content:space-between;}
.content-03-container .content__cols-item:hover::after {content:''; position:absolute; bottom:0; right:0; width:50px; height:50px; background:"img/icon-entry.png"}
.content-01-container .content__cols-item {display:flex; flex-direction: column; align-items: center; justify-content: center;}
.content-01-container .content__cols-item h5 {font-size:1em; font-weight: bold; color: var(--header-grey); padding-top:1.5em;}
.content-01-container .content__cols-item p {font-size:0.8em; line-height: 1.5em; padding-top:1.5em; color:var(--p-grey);}
.icon-border {position:relative; display:flex; outline:none; justify-content: center; align-items:center; width:5em; height:5em; border: 0.23em solid var(--main-red);}
.content-01-icon {width:100%; padding:0.2em;}
.content__cols-item:nth-child(1) .content-01-icon {width:1.8em; height:2.7em;}
.content__cols-item:nth-child(1) .icon-border {border-color:var(--icon-yellow);}
.content__cols-item:nth-child(2) .icon-border {border-color:var(--icon-green);}
.content__cols-item:nth-child(3) .icon-border {border-color:var(--main-red);}
.content__cols-item:nth-child(4) .icon-border {border-color:var(--main-blue);}
.company-logos__logo-item { background-color: Var(--main-white); outline: 0; padding: 0;}
.company-logo {width:100; height:100;}
footer div {background-color:var(--footer); outline:0;}
footer.row {background-color:var(--footer); outline:0;}
.peewee {width:4em; height:4em;}
.footer-block__title {display: flex; flex-direction: row-reverse; align-items: center; background-color: var(--footer);}
.footer-testimonial {color: var(--main-white);}
.footer-testimonial h2{padding-bottom: 0.5em; font-size: 1em;}
.footer-testimonial p{font-size: 0.7em; text-align: left; font-style: italic;}
.footer-block__item {color: var(--main-white); background-color: var(--footer);}
.item__about-us h5 { border-bottom:0.2em solid #25c389; padding:0.5em;}
.footer-block__item p {font-size:0.7em; text-align: left; line-height: 2em; padding-top:2rem;}
.social-media {display:flex; flex-direction:row; margin-top: 1rem; padding-left:0;}
.item__flickr h5{ border-bottom:0.2em solid #f8ba0d; padding:0.5em; }
.flickr-content {display: flex; flex-wrap:wrap; align-content:center; justify-content: space-between; align-items: center; row-gap: 1.25rem; }
.item__tweets h5 {border-bottom:0.2em solid #de6262; padding:0.5em; }
.item__newsletter h5 {border-bottom:0.2em solid #1bade6; padding:0.5em;}
.email{padding-top: 2rem;}
.twitter-container{ display: flex;}
