:root{
  -main-white:#f0f0f0;
  -main-blue:#19b2de;
  -secondary-blue:#1596bd;
  -main-red:#d8605f;
  -header-grey:#494949;
  -p-grey:#a3a3a3;
}

*, *::after, *::before {margin: 0; padding: 0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-family: "ubuntu", sans-serif; font-weight: 400; font-style: normal;}
p {font-family: "Open Sans", Arial, Helvetica, sans-serif;}
ul li {list-style: none;}
/* Grid demo*/ 
div, header, main, footer, section {outline: 1px solid #ccc; min-height: 1rem; padding: 1rem;}
.row {display: grid; row-gap: 1rem;}
.col {position: relative; background-color: rgb(242, 230, 177);}
p {text-align: center;}
.mobile-show {display: block;}
.mobile-hide {display: none;}
img {width: 100%;}

/* Grid System - Small only */
.s-col-2 .content__cols-item {grid-template-columns: repeat(2, 1fr);}
.s-col-5 {grid-template-columns: repeat(5, 1fr);}
.s-col-6 {grid-template-columns: repeat(6, 1fr);}
.s-col-1-1 {grid-template-columns: 1fr 1fr;}
.s-col-1-2 {grid-template-columns: 1fr 2fr;}

/* Grid System - Medium and up */
@media screen and (min-width: 40em) {
  .row {max-width: 70rem; column-gap: 1.5rem; row-gap: 1.5rem; margin: 0 auto;}
  .m-col-2 {grid-template-columns: repeat(2, 1fr);}
  .m-col-3 {grid-template-columns: repeat(3, 1fr);}
  .m-col-4 {grid-template-columns: repeat(4, 1fr);}
  .m-col-5 {grid-template-columns: repeat(5, 1fr);}
  .m-col-6 {grid-template-columns: repeat(6, 1fr);}
  .m-col-1-2 {grid-template-columns: 1fr 2fr;}
}
/* Grid System - Large and up */
@media screen and (min-width: 64em) {s
  .l-col-2 {grid-template-columns: repeat(2, 1fr);}
  .l-col-3 {grid-template-columns: repeat(3, 1fr);}
  .l-col-4 {grid-template-columns: repeat(4, 1fr);}
  .l-col-5 {grid-template-columns: repeat(5, 1fr);}
  .l-col-6 {grid-template-columns: repeat(6, 1fr);}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .mobile-show {display: block;}
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .mobile-show {display: block;}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .mobile-show {display: block;}
  .mobile-hide {display: block;}
}
/* Large and up */
@media screen and (min-width: 64em) {
  .mobile-show {display: none;}
  .mobile-hide {display: block;}
}
/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {
  
}

.content__cols-item {background-color:white; outline: none; padding:0;}
.content__title{background-color: white;}
.content__title {text-align: center; color:#494949;}
.content__title p {color:#a3a3a3; font-size:0.7em;}
.a-component, .a-component div {outline: none; min-height: 1rem; padding: 0;}
.a-component {display: flex; flex-direction: column; position: relative; color: white;}
.a-component .a-component__date {position: absolute; top: 0; left: 0; width: 3.5em; height:2.625em; text-align: center; color: white; background-color:#d8605f;}
.a-component .a-component__date h6 {padding-top:0.5625em; padding-bottom: 0.4375em; line-height: 1.40em;}
.a-component .a-component__image img {display: block; width: 100%; height: auto;} 
.a-component__title {display:flex; justify-content:space-between; background-color: #19b2de; padding-left:2em; height: 3.0625em; width:100%;}
.a-component__title h3 {display: block; position:absolute; left:0.9375em; padding-top:0.4375em;}
.subtitle h4 {display: block; position: absolute; bottom:1em; left:1.9em; font-size:0.6025em;}
.icon {position:relative; display:flex; justify-content: center; align-items: center; width:37px; height:37px; background-color:#1596bd; margin-top:5px; margin-right:20px;}
.icon img {width: 20px; height:18px;}